

.reels{
    
    position: absolute;
    top: 43px;
    left: 250px;
    width: 83%;
    /* height: 100%; */
    /* width: 1320px; */
    
     background-color: white;
     z-index: 1;
     
    }
    

    .reels img{
        width: 450px;
        height: 750px;
        &:hover{
            width: 500px;
            border: 7px solid rgb(167, 160, 193);
         }
    
    }
    .reelBox{
        position: relative;
        left: 34px;
        width: 80%;
     display: grid;
     grid-template-columns: repeat(1,1fr);
     text-align: center;
     gap: 16px;
    
    }

    
    